<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="style/css/bootstrap.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<script>
function myFunction() {
var country= $('#country').val();
var region= $('#region').val();
var text= $('#text').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {country:country,
              region:region,
              text:text}
          }).done(function(response) {
            var html= "<br><br><br><p> <b> RESULT : <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
                html +="<br>";
                $(".show-data").append(html);
            });
};
  </script>


<body>
    <p>
        Taking input from web<br><br>
            Country <input type="text" id="country" name="country"><br><br>
            Region <input type="text" id="region" name="region"><br><br>
            Job Description <input type="text" id="text" name="text"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >
    </div>
</body>

<!--<form action="/hello" method="post" enctype="multipart/form-data">-->
<!-- <div>-->
<!--    <label for="name">Country:</label>-->
<!--    <input type="text" id="country" name="country" />-->
<!--  </div>-->

<!--  <div>-->
<!--    <label for="name">Location:</label>-->
<!--    <input type="text" id="name" name="name" />-->
<!--  </div>-->

<!--  <div>-->
<!--    <label for="msg">Message:</label>-->
<!--    <textarea id="msg" name="msg"></textarea>-->
<!--  </div>-->
<!--    <div class="button">-->
<!--    <button type="submit">Send your message</button>-->
<!--    </div>-->



<!--</form>-->



<!--<body>-->
<!--<div>-->
<!--   <p>{{result}} </p>-->
<!--     </div>-->
<!--</body>-->
</html>